section#ejercicio2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: auto;
  }
  fieldset {
   
    padding: 15px;
  }
  section#ejercicio2 input#enviar {
    float: left;
  }